.container {
	height: 100vh;
	text-align: center;
	background: radial-gradient(circle, #715CD1,  #4E4E4E);
}

.container h2 {
  	font-size: 5rem;
  	position: relative;
	text-align: center;
	padding-top: 3em;
}

@media screen and (max-width: 557px) {
    .container h2 {
    	font-size: 4rem;
    }
}

.container a {
  	font-size: 3rem;
    position: relative;
	top: 60%;
	left: 10px;
	text-align: center;
}
