.container {
	height: 100vh;
	text-align: center;
	background: radial-gradient(circle, #715CD1,  #4E4E4E);
}

.container h2 {
  	font-size: 5rem;
  	position: absolute;
	top: 30%;
	left: 10px;
}

.container a {
  	font-size: 3rem;
    position: relative;
	top: 50%;
	left: 10px;
	text-align: center;
}
